body {

    background-color: #000;
    color: #fff;
    font-family: monospace;
}
#terrain{
    position: relative;
    border: 1px solid white;

    width:800px;
    height:400px;

}
#balle{
    position: absolute;
    top:50%;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
}
